@import 'tailwindcss';
@config "../../tailwind.config.js";

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }

  html {
    scroll-behavior: smooth;
  }

  #root {
    overflow: hidden;
  }
}

@utility social-btn {
  align-items: center;
  border-radius: 0.5rem;
  display: flex;
  height: 2.5rem;
  justify-content: center;
  width: 2.5rem;
}
